body {
    background-image: url('images/desert_background.png');
    background-size: cover;
    overflow: hidden;
    background-position-y: 25%;
    background-repeat: no-repeat;
}

#zombie1 {
    background-image: url('images/zombie.png');
    position: relative;
    top: 600px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation 1s steps(6) infinite,
    move_forward 25s linear infinite;
}

#zombie2 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 605px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation 1s steps(6) infinite 3s,
    move_forward 27s linear infinite 3s;
    animation-fill-mode: both;
}

#zombie3 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 612px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation 1s steps(6) infinite 4s,
    move_forward 28s linear infinite 4s;
    animation-fill-mode: both;
}

#zombie4 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 600px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation 1s steps(6) infinite 5s,
    move_forward 30s linear infinite 5s;
    animation-fill-mode: both;
}

#zombie5 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 606px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation 1s steps(6) infinite 6s,
    move_forward 31s linear infinite 6s;
    animation-fill-mode: both;
}

#zombie6 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 613px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation 1s steps(6) infinite 6s,
    move_forward 36s linear infinite 6s;
    animation-fill-mode: both;
}

#zombie7 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 620px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation 1s steps(6) infinite 8s,
    move_forward 28s linear infinite 8s;
    animation-fill-mode: both;
}

#zombie8 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 625px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation .9s steps(6) infinite 5s,
    move_forward 29s linear infinite 5s;
    animation-fill-mode: both;
}

#zombie9 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 620px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation .8s steps(6) infinite 6s,
    move_forward 27s linear infinite 6s;
    animation-fill-mode: both;
}

#zombie10 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 610px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation 1s steps(6) infinite 10s,
    move_forward 25s linear infinite 10s;
    animation-fill-mode: both;
}


#zombie11 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 620px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation .9s steps(6) infinite 11s,
    move_forward 25s linear infinite 11s;
    animation-fill-mode: both;
}


#zombie12 {
    background-image: url('images/zombie.png');
    position: absolute;
    top: 625px;
    height: 250px;
    width: 215.167px;
    animation: walking_animation .8s steps(6) infinite 12s,
    move_forward 20s linear infinite 12s;
    animation-fill-mode: both;
}

@keyframes walking_animation {
    0% {background-position-x: 1291px;}
    100% {background-position-x: 0px;}
}

@keyframes move_forward {
    0% {transform: translateX(2000px);}
    100% {transform: translateX(-200px);}
}

